#section1rando {
padding: 0%;
margin: 10%;
z-index: 1;
}

#section2rando {
background-color: #FBE0C4;
min-width: 45%;
max-width: 45%;
padding: 3%;
position: absolute;
right: 26%;
top: 130%;
z-index: 2;
}

.sectiontextrando {
    min-width: 45%;
    max-width: 45%;
    padding: 2%;
    position: relative;
    left: 23%;
}

#section4rando {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    margin: 5%;
    border-bottom: solid black 1px;
    border-top: black solid 1px;
    
    
}

.calanques {
    padding: 5%;
    
}

.spr {
    padding: 5% 20% 5% 25%;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    max-width: 45%;
    min-width: 45%;
    position: relative;
    left: 5%;
    
}

/* CSS du footer*/


.footer-dark {
    /*background-color: black;*/
    font-weight:bold;
  }
  
  .filtre-transparent{
      background-image: url("https://zupimages.net/up/21/42/cp54.jpg");
      background-size: cover;
  }
  
  
  h3 {
    font-weight:bold;
    font-size:20px;
    color: white;
  }   
        
       .copyright{
          color: white;
          padding-left: 85%;
          padding-bottom: 5%;
        }
  
  
  .logo-allo{
  padding-left: 10%;
  margin-top: 4%;
  }
  
  .row{display: flex;  
    justify-content: space-around;
    text-align: 5%;
    font-size: 20px;
    padding-top: 4%;
  }
    
  .but{
      list-style-type:none;
      padding: 0;
      margin:0
  
  }
  
  a{
      text-decoration: none;
      color: white;
  }   